In [2]:
from geopandas import gpd
import pandas as pd

In [6]:
file = "../data/berlin_roads_and_accidents.geojson"

In [7]:
gdf = gpd.read_file(file)

In [37]:
df_right = gdf

In [38]:
df_right.head()

,Unnamed: 0,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,code,fclass,name,ref,oneway,maxspeed,layer,bridge,tunnel,geometry
0,0,112747,11,0,3,3,2018,1,15,4,...,5113,primary,Dietzgenstraße,B 96a,B,50,0,F,F,"POLYGON ((13.40333 52.58347, 13.40333 52.58346..."
1,5006,207985,11,0,3,3,2018,12,16,3,...,5113,primary,Dietzgenstraße,B 96a,B,50,0,F,F,"POLYGON ((13.40315 52.58380, 13.40315 52.58379..."
2,1,112892,11,0,3,3,2018,1,11,5,...,5113,primary,Greifswalder Straße,B 2,F,50,0,F,F,"POLYGON ((13.43229 52.53526, 13.43229 52.53525..."
3,12,113425,11,0,3,3,2018,1,11,6,...,5113,primary,Greifswalder Straße,B 2,F,50,0,F,F,"POLYGON ((13.42861 52.53209, 13.42861 52.53208..."
4,45,114109,11,0,3,3,2018,8,18,4,...,5113,primary,Greifswalder Straße,B 2,F,50,0,F,F,"POLYGON ((13.43230 52.53527, 13.43230 52.53526..."

In [3]:
df_left = pd.read_csv("data/berlin_bike_accidents_2018_v2.csv", sep=",")

In [4]:
df_left.shape

(5192, 27)

In [5]:
df_right.shape

(12495, 37)

In [8]:
df_left['Street'] = df_left['Street'].fillna('na')

In [9]:
df_right['Street'] = df_right['Street'].fillna('na')

In [10]:
df_right['join'] = df_right['OBJECTID'].astype(str) + df_right['Street']

In [11]:
df_left['join'] = df_left['OBJECTID'].astype(str) + df_left['Street']

In [12]:
df_left['OBJECTID'].nunique()

5192

In [13]:
df_left['join'].nunique()

5192

In [14]:
5192 - 4880

312

In [15]:
df_right['OBJECTID'].nunique()

5186

In [16]:
df_right['join'].nunique()

5186

In [17]:
df_right_ = df_right[['index_right', 'osm_id', 'code', 'fclass', 'name', 'ref', 'oneway', 'layer', 'bridge', 'tunnel', 'geometry', 'maxspeed', 'join']]

In [18]:
df_merge = pd.merge(df_left, df_right_, on='join', how='left')

In [19]:
df_merge['join'].nunique()

5192

In [20]:
df_merge_final = df_merge

In [21]:
df_merge_final_unique = df_merge_final.drop_duplicates(subset=['OBJECTID'], keep = 'first')

In [22]:
df_merge_final_unique.shape

(5192, 40)

In [23]:
df = df_merge_final_unique

In [24]:
df.head(5)

,Unnamed: 0,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,code,fclass,name,ref,oneway,layer,bridge,tunnel,geometry,maxspeed
0,0,112747,11,0,3,3,2018,1,15,4,...,5113.0,primary,Dietzgenstraße,B 96a,B,0.0,F,F,"POLYGON ((13.40333 52.58347, 13.40333 52.58346...",50.0
1,1,112892,11,0,3,3,2018,1,11,5,...,5113.0,primary,Greifswalder Straße,B 2,F,0.0,F,F,"POLYGON ((13.43229 52.53526, 13.43229 52.53525...",50.0
2,2,112902,11,0,2,2,2018,1,8,2,...,5113.0,primary,Frankfurter Allee,B 1;B 5,F,0.0,F,F,"POLYGON ((13.47100 52.51417, 13.47100 52.51416...",50.0
5,3,112921,11,0,1,1,2018,1,19,4,...,5113.0,primary,Leipziger Straße,B 1,F,0.0,F,F,"POLYGON ((13.39477 52.51085, 13.39477 52.51084...",50.0
6,4,112947,11,0,9,9,2018,1,18,4,...,5153.0,footway,None,None,B,0.0,F,F,"POLYGON ((13.50647 52.45899, 13.50647 52.45898...",0.0

In [25]:
df.dtypes

Unnamed: 0        int64
OBJECTID          int64
ULAND             int64
UREGBEZ           int64
UKREIS            int64
UGEMEINDE         int64
UJAHR             int64
UMONAT            int64
USTUNDE           int64
UWOCHENTAG        int64
UKATEGORIE        int64
UART              int64
UTYP1             int64
ULICHTVERH        int64
IstRad            int64
IstPKW            int64
IstFuss           int64
IstKrad           int64
IstGkfz           int64
IstSonstige       int64
STRZUSTAND        int64
lon             float64
lat             float64
District         object
Street           object
HouseNumber      object
PostalCode        int64
join             object
index_right     float64
osm_id           object
code            float64
fclass           object
name             object
ref              object
oneway           object
layer           float64
bridge           object
tunnel           object
geometry       geometry
maxspeed        float64
dtype: object

In [26]:
df['maxspeed'].value_counts()

50.0    2578
30.0    1814
0.0      718
60.0      30
20.0      20
10.0      19
70.0       4
80.0       2
7.0        1
Name: maxspeed, dtype: int64

In [27]:
df[df["OBJECTID"].eq(112902)]

,Unnamed: 0,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,code,fclass,name,ref,oneway,layer,bridge,tunnel,geometry,maxspeed
2,2,112902,11,0,2,2,2018,1,8,2,...,5113.0,primary,Frankfurter Allee,B 1;B 5,F,0.0,F,F,"POLYGON ((13.47100 52.51417, 13.47100 52.51416...",50.0

In [34]:
df_export = df[['OBJECTID', 'UMONAT', 'USTUNDE', 'UWOCHENTAG', 
                'UKATEGORIE', 'UART', 'UTYP1', 'ULICHTVERH', 'STRZUSTAND',
                'IstPKW', 'IstKrad', 'IstGkfz', 'IstFuss', 'IstSonstige', 
                'maxspeed', 'fclass', 'oneway', 
                'osm_id', 'District', 'Street', 'PostalCode', 'bridge', 'tunnel', 
                'lat', 'lon', 'geometry']]

In [35]:
#df_export.to_csv('berlin_accidents_maxspeed_v3.csv', index = False)